<header>
    <h1><a class="index-navigation" href="{% url 'index' %}"><span>D</span>OMFIX</a></h1>
    <nav>

        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add product' %}">Добави продукт</a>
                <a href="{% url 'add partner' %}">Добави партньор</a>
            {% endif %}
            <a href="{% url 'catalogue' %}">Продукти</a>
            <a href="{% url 'show partners' %}">Партньори</a>
            <a href="{% url 'contact page' %}">Контакти</a>
            <a href="{% url 'details user' pk=request.user.pk %}">Профил</a>
            <a href="{% url 'logout user' %}">Излез</a>
        {% else %}
            <a href="{% url 'login user' %}">Влез</a>
            <a href="{% url 'register user' %}">Създай профил</a>
        {% endif %}
    </nav>
</header>