{% extends 'base/base.html'%}
{% load static %}

{% block content%}

    <section id="index-headline">
        <div class="index-message">
            <span><h2>Нашият магазин Ви очаква</h2></span>
            <span><h2>На адрес: гр.Ловеч ул.Георги С. Раковски №20</h2></span>
            <span><h2>Телефон за контакт: </h2></span>
            <span><h2>0888 888 8888</h2></span>
<!--            <span><h2 >Работно време:</h2></span>-->
<!--            <h4>Понеделник - 9:00-18:00</h4>-->
<!--            <h4>Вторник - 9:00-18:00</h4>-->
<!--            <h4>Сряда - 9:00-18:00</h4>-->
<!--            <h4>Четвъртък - 9:00-18:00</h4>-->
<!--            <h4>Петък - 9:00-18:00</h4>-->
<!--            <h4>Събота - 9:00-13:00</h4>-->
<!--            <h4>Неделя - почивен ден</h4>-->


        </div>
        <img src="{% static 'images/stroitelstvo.jpeg' %}" alt="car">
    </section>
{% endblock %}